<h1>Setup</h1>

<h2>Installing Packages</h2>

<p>In order to use Objective Redux in your project, you'll need to install it along with Redux. These should be saved as dependencies, since they need to be included in the final application.</p>

<pre><code>npm install --save redux objective-redux</code></pre>

<p>If you want to use Redux-Saga (required for StatelessControllers), install it as a dependency as well.</p>

<pre><code>npm install --save redux-saga</code></pre>

<h2>Adding a Provider (React)</h2>

<p>If you're using React, you'll need to setup a provider for the ObjectiveStore class. This will allow you to access the ObjectiveStore instance from your components, either by connecting the component to the provider or by using the provided React hook.</p>

<pre><code class="language-typescript">
import React from 'react';
import ReactDOM from 'react-dom';
import { ObjectiveStoreProvider, ObjectiveStore } from 'objective-redux';
import App from './app';

export const objectiveStore = new ObjectiveStore();

ReactDOM.render(
  &lt;ObjectiveStoreProvider objectiveStore={objectiveStore}&gt;
    &lt;App /&gt;
  &lt;/ObjectiveStoreProvider&gt;,
  document.getElementById('root')
);
</code></pre>

<p>If you are using this with React-Redux, see the <a href="./use-with-react-redux.html">Use with React-Redux page</a> for additional instructions.</p>