<h1>State Controllers</h1>

<h2>The StateControllers Class</h2>

<p>A state controller defines a slice of Redux state. In other words, a StateController instance manages the mutations and retrieval of piece of the Redux store.</p>

<h2>Defining a StateController</h2>

<h3>Required Implementations</h3>

<p>A StateController instance needs two things: (1) a construction that takes an instance of an ObjectiveStore and calls super with the initial state and ObjectiveStore instance; and (2) a static getName method that returns the string name of the state slice.</p>

<p>The getName method will need to return a string name that is unique for all of the Objective-Redux controllers.<sup>1</sup> This allows Objective-Redux to quickly lazy-load controllers on-the-fly and prevents reducer collisions in the store.</p>

<pre><code class="language-typescript">
import { StateController } from 'objective-redux';

const initialState = { isOn: false };

class SwitchStateController extends StateController {
  // The construct should look like this
  constructor(store) {
    super(initialState, store);
    // ... additional setup code can go here
  }

  // The name returned must be unique
  static getName() {
    return 'switch';
  }
  
  // ... our actions will go here ...
}

export SwitchStateController;
</code></pre>

<h3>Defining Actions</h3>

<p>Actions and their associated mutations are created by using the registerAction method. This method takes a function or the form (state, payload) => nextState. That is, it should accepts the current state and the action payload as parameters and returns the new state.</p>

<p>Below is an example of a state controller that has two actions: one that toggles a switch on and off and one that sets the switch to a value.</p>

<pre><code class="language-typescript">
import { StateController } from 'objective-redux';

const initialState = { isOn: false };

class SwitchStateController extends StateController {
  constructor(store) {
    super(initialState, store);
  }

  static getName() {
    return 'switch';
  }

  // Our actions:

  toggleSwitch = this.registerAction(
    (state) => ({ isOn: !state.isOn })
  );

  setSwitch = this.registerAction(
    (state, isOn) => ({ isOn })
  );
}

export SwitchStateController;
</code></pre>

<h2>Using the StateController</h2>

<p>Below are two examples of how the above class would be used with React.</p>

<p>With a connected component:</p>

<pre><code class="language-typescript">
import React from 'react';
import { ComponentConnector } from 'objective-redux';
import { SwitchStateController } from './store/switch-state-controller';

function AppComponent(props) {
  const { isOn, store } = props;

  const sendToggleAction = () => {
    SwitchStateController.getInstance(store).toggleSwitch();
    // or we could call our set method
    // SwitchStateController.getInstance(store).setSwitch(!isOn);
  }

  return (
      &lt;button onClick={sendToggleAction}&gt;
        Turn the switch { isOn ? 'Off' : 'On' }
      &lt;/button&gt;
  );
}

export default ComponentConnector
  .addPropsTo(AppComponent)
  .from(SwitchStateController) // or .from(SwitchStateController, state => ({ isOn: state.isOn }))
  .connect();
</code></pre>

<p>With a React hook:</p>

<pre><code class="language-typescript">
  import React from 'react';
  import { useController } from 'objective-redux';
  import { SwitchStateController } from './store/switch-state-controller';
  
  function AppComponent() {
    const switchController = useController(SwitchStateController);
    const { isOn } = switchController.getStateSlice();
  
    const sendToggleAction = () => {
      switchController.toggleSwitch();
      // or we could call our set method
      // switchController.setSwitch(!isOn);
    }
  
    return (
        &lt;button onClick={sendToggleAction}&gt;
          Turn the switch { isOn ? 'Off' : 'On' }
        &lt;/button&gt;
    );
  }
</code></pre>

<h2>Notes</h2>

<p><sup>1</sup> Optionally, namespaces can be used to help with scoping controllers and Redux store slices. See the <a href="./statecontroller.html">StateController API documentation</a> for more.</p>