<h1>Stateless Controllers</h1>

<h2>The StatelessController class</h2>

<p>A stateless controller is a controller that does not modify the state of the application. In other words, it does not have an associated slice of state in the Redux store or a reducer.</p>

<p>This class is used to create actions that have side effect&mdash;in other words, Redux-Saga's.</p>

<p>In order to use StatelessControllers, first ensure you have the optional dependency redux-saga installed and bundled with your application. See the <a href="./setup.html">Setup</a> page for instructions.</p>

<h2>Defining a StatelessController</h2>

<h3>Required Implementation</h3>

<p>The StatelessController requires a static getName function is implemented and returns a string name for the controller. The name it returns will need to be unique for all of the Objective-Redux controllers.<sup>1</sup> This allows Objective-Redux to lazy-load controllers on-the-fly and prevents reducer collisions in the store.</p>

<pre><code class="language-typescript">
  import { StatelessController } from 'objective-redux';
  import { SwitchStateController } from './switch-state-controller';
  
  export class SwitchStateSagas extends StatelessController {
    static getName() {
      return 'Switch-State-Sagas';
    }

    // ... our actions will go here ...
  }
</code></pre>

<h3>Defining Actions</h3>

<p>The withEffect method can be used to add a watching generator function to the saga. It is passed a take configuration for the saga, defining how events should be handled. Then, the store method is called and passed the generator function the saga will execute.</p>

<p>Below is an example of a Saga that will call the toggleSwitch method of our previously created SwitchStateController.</p>

<pre><code class="language-typescript">
import {
  StatelessController,
  configureTakeLatest,
  getControllerFromSagaContext
} from 'objective-redux';
import { SwitchStateController } from './switch-state-controller';

export class SwitchStateSagas extends StatelessController {
  static getName() {
    return 'Switch-State-Sagas';
  }

  toggleSwitch = this.buildComplexAction(
    function* () {
      const switchController = yield getControllerFromSagaContext(SwitchStateController);
      yield switchController.toggleSwitch();
    }
  )
    .withEffect(configureTakeLatest())
    .register();
}
</code></pre>

<p><sup>1</sup> Optionally, namespaces can be used to help with scoping controllers and Redux store slices. See the <a href="./statelesscontroller.html">StatelessController API documentation</a> for more.</p>