<h1>Stateless Controllers</h1>

<h2>The StatelessController class</h2>

<p>A stateless controller is a controller that does not have an associated slice of state in the Redux store. In other words, a stateless controller does not have a reducer.</p>

<p>This class is used to create actions that have side effect&mdash;in other words, Redux-Saga's.</p>

<h2>Defining a StatelessController</h2>

<h3>Required Implementation</h3>

<p>The StatelessController required a static getName function be implemented to return a string name for the controller. The getName method will need to return a string name that is unique for all of the Objective-Redux controllers. This allows Objective-Redux to quickly lazy-load controllers on-the-fly.</p>

<p>If the constructor is overridden, it will need to take in an ObjectiveStore as a parameter and call the super constructor with the ObjectiveStore instance.</p>

<pre><code class="language-typescript">
  import { StatelessController } from 'objective-redux';
  import { SwitchStateController } from './switch-state-controller';
  
  export class SwitchStateSagas extends StatelessController {
    static getName() {
      return 'Switch-State-Sagas';
    }

    // ... our actions will go here ...
  }
</code></pre>

<h3>Defining Actions</h3>

<p>The withEffect method can be used to add a watching generator function to the saga. It is passed a take configuration for the saga, defining how events should be handled. Then, the store method is called and passed the generator function the saga will execute.</p>

<p>Below is an example of a Saga that will call the toggleSwitch method of our previously created SwitchStateController.</p>

<pre><code class="language-typescript">
import {
  StatelessController,
  configureTakeLatest,
  getControllerFromSagaContext
} from 'objective-redux';
import { SwitchStateController } from './switch-state-controller';

export class SwitchStateSagas extends StatelessController {
  static getName() {
    return 'Switch-State-Sagas';
  }

  toggleSwitch = this.buildComplexAction(
    function* () {
      const switchController = yield getControllerFromSagaContext(SwitchStateController);
      yield switchController.toggleSwitch();
    }
  )
    .withEffect(configureTakeLatest())
    .register();
}
</code></pre>