<h1>Lazy Loading Webpack Modules</h1>

<p>Objective-Redux makes it simple to dynamically load webpack modules, connect their controllers, and fire actions.</p>

<p><img src="https://github.com/Objective-Redux/Objective-Redux/raw/master/statics/pre-dispatch-hook.png" alt="Load bundles at runtime when an action targets a controller in the bundle" style="height: 200px;" /></p>

<p>For example, suppose that you want to render a modal when the user clicks on a button, but you don't want to include the modal and its associated controllers on page load. Objective-Redux can listen to the action the button fires, load the webpack module that handles the action, then handle the action normally.</p>

<p>As a pre-requisite, you'll need to <a href="./code-splitting.html">code split</a> the controller(s) that will be bundled and targeted separately.</p>

<p>To setup, we define a pre-dispatch hook and pass it to the ObjectiveStore. This function takes an action as a parameter and can return either a promise (if the action should wait until the promise resolves to be fired) or null (if the action should be fired immediately).</p>

<pre><code class="language-typescript">
  import React from 'react';
  import ReactDOM from 'react-dom';
  import { ObjectiveStoreProvider, ObjectiveStore } from 'objective-redux';
  import App from './app';

  // We create a pre-dispatch hook, which is function that returns a promise.
  // The promise should resolve when the app is ready for the action to be fired.
  const preDispatchHook = (action) => {
    let result = Promise.resolve();

    switch (action.type) {
      case myAction:
        result = import(/* webpackChunkName: "lazyLoadingPack" */ './lazy-loaded-module');
        break;
      // other actions here
    }

    return result;
  }
  
  export const objectiveStore = new ObjectiveStore({
    preDispatchHook,
  });
  
  ReactDOM.render(
    &lt;ObjectiveStoreProvider objectiveStore={objectiveStore}&gt;
      &lt;App /&gt;
    &lt;/ObjectiveStoreProvider&gt;,
    document.getElementById('root')
  );
</code></pre>

<p>Now, we can simply fire the action targeting our ObjectiveRedux controller normally.</p>

<pre><code class="language-typescript">
  import React from 'react';
  import {
    useObjectiveStore,
    createAction,
    getActionNameForController,
  } from 'objective-redux';
  
  const myAction = createAction(
    getActionNameForController('MyController', 'MyAction');
  );

  function ButtonComponent() {
    const objectiveStore = useObjectiveStore();

    const fireAction = () => {
      objectiveStore.dispatch(myAction());
    }
  
    return (
        &lt;button onClick={fireAction}&gt;
          Click to target an action in another bundle
        &lt;/button&gt;
    );
  }
</code></pre>

<p>Now, when the button is clicked:</p>

<ol>
  <li>The webpack bundle is loaded</li>
  <li>The Objective-Redux controllers in the bundle are registered</li>
  <li>The controller handling the action is instantiated (its reducers are connected/sagas are run)</li>
  <li>The action is fired</li>
</ol>

<p>See the <a href="https://github.com/Objective-Redux/Objective-Redux/tree/master/examples/lazy-loading">working example</a> in the <a href="https://github.com/Objective-Redux/Objective-Redux">public GitHub repository</a>.</p>
