<h1>TypeScript</h1>

<p>Templating is available for projects using TypeScript. For example, if you create an action that will take a string as a parameter, it would look like the below example.</p>

<pre><code class="language-typescript">
class ThemeStateController extends StateController&lt;ThemeState&gt; {
  // ...

  public readonly setTheme = this.registerAction&lt;string&gt;(
    (state: ThemeState, theme: string) => ({
      ...state,
      theme,
    })
  );
}
</code></pre>

<pre><code class="language-typescript">
ThemeStateController.getInstance(objectiveStore).setTheme();       // error
ThemeStateController.getInstance(objectiveStore).setTheme(10);     // error
ThemeStateController.getInstance(objectiveStore).setTheme({});     // error
ThemeStateController.getInstance(objectiveStore).setTheme('dark'); // works
</code></pre>

<p>You can also set the action template type to &lt;void&gt; to indicate that no parameter should be taken by the action.</void>

<p>In StateControllers, the template variable for actions is optional. For example, the following will also work:</p>

<pre><code class="language-typescript">
  class ThemeStateController extends StateController&lt;ThemeState&gt; {
    // ...
  
    // The template variable will be inferred from the payload parameter type (string, in this example)
    public readonly setTheme = this.registerAction(
      (state: ThemeState, theme: string) => ({
        ...state,
        theme,
      })
    );
  }
</code></pre>

<p>In the above example, TypeScript will correctly infer that the action takes a string payload.</p>

<p>For StatelessController classes, all actions require the template variable.</p>