/*
D7D3D0
F7F3F0
7A7572
534F4E
171717
*/

html, body {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
  background: #534F4E;
}

header {
  margin: 0;
  color: #F7F3F0;
  font-size: 1.4rem;
  overflow: auto;
}

header p:first-child {
  font-family: 'Ubuntu', sans-serif;
}

header .left p:first-child {
  font-size: 2em;
}

header a {
  color: #F7F3F0;
  text-decoration: none;
}

#main {
  font-size: 1.6rem;
  overflow: auto;
  background: #D7D3D0;
  width: 100%;
  display: flex;
}

#content {
  float: left;
  background: #F7F3F0;
  min-height: calc(100vh - 298px);
  padding-bottom: 40px;
  flex: 1;
  max-width: 796px;
  min-width: 796px;
  padding-left: calc(50% - 600px);
  order: 1;
}

#content p {
  margin: 15px 0px;
}

nav {
  flex: 1;
  order: 2;
  width: 399px;
  padding-right: calc(50% - 600px);
}

nav p:first-child {
  margin-top: 60px;
}

nav a {
  color: #2A2A2A;
  text-decoration: none;
}

nav a .destructure {
  display: none;
}

nav a:hover {
  font-size: 1.7rem;
  text-decoration: underline;
}

nav a:hover .destructure {
  display: inline;
}

.nav-section {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.nav-section:first-child {
  margin-top: 0;
}

footer {
  color: #F7F3F0;
  font-size: 1.4rem;
}

.code {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 900;
}

h1, h2, h3, h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.padded {
  padding: 40px;
}

section {
  margin-top: 60px;
  border-left: solid 5px #2A2A2A;
  padding-left: 15px;
}

.left {
  display: inline-block;
  width: 796px;
  padding-left: calc(50% - 600px);
  position: relative;
  z-index: 1;
}

.right {
  display: inline-block;
  width: 399px;
  padding-right: calc(50% - 600px);
}

#main nav {
  text-align: left;
}

pre {
  overflow-x: auto;
  background: hsl(0, 0%, 8%);
  color: #F7F3F0;
  padding: 20px;
  border-radius: 5px;
}

#hamburger {
  display: none;
  padding: 10px;
  padding-left: 35px;
  cursor: pointer;
}

#hamburger-icon {
  float: left;
}

#hamburger-icon div {
  width: 24px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

@media only screen and (max-width: 1100px) {
  .left, #content {
    max-width: calc(100% - 315px);
    min-width: calc(100% - 315px);
    padding-left: 0;
  }
  
  .right, nav {
    width: 295px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 800px) {
  #main {
    display: block;
  }

  .right, nav {
    flex: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  nav .padded {
    display: none;
  }
  
  .left, #content {
    flex: none;
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-left: 0;
  }

  header .left .padded {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  header .right .padded {
    margin-top: 0px;
    padding-top: 0px;
  }

  nav p:first-child {
    margin-top: 0;
  }

  #hamburger {
    display: inline-block;
  }
}