
<h1>Official Documentation</h1>

<p><br /></p>

<h2>What is it?</h2>

<p>Make managing and scaling your Redux store simple by abstracting slices into state controllers. State controllers are initialized on-demand with little to no effort required.</p>

<p>See <a href="https://www.npmjs.com/package/objective-redux">the NPM page</a> for more.</p>

<p><br /></p>

<h2>Get Started</h2>

<p>Use the navigation on the right or jump to the <a href="setup.html">Setup page</a>.</p>

<p>In addition to this documentation, you can check out the <a href="https://github.com/Objective-Redux/Objective-Redux/tree/master/examples/react-redux">working examples</a> in the <a href="https://github.com/Objective-Redux/Objective-Redux">public GitHub repository</a>.</p>

<p><br /></p>

<p>
  <a href="https://www.npmjs.com/package/objective-redux"><img src="https://img.shields.io/npm/v/objective-redux" alt="NPM Version" /></a>
  <a href="./LICENSE"><img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="License" /></a>
  <a href="https://github.com/Objective-Redux/Objective-Redux/actions"><img src="https://github.com/Objective-Redux/Objective-Redux/workflows/Build/badge.svg" alt="build status" /></a>
</p>