<!DOCTYPE html>
  <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Objective-Redux Documentation</title>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="docs.css">
</head>
<body>
  <header>
    <div class="left">
      <p><a href="./">Objective Redux</a></p>
      <p>Redux made better, objectively.</p>
    </div>
    <div class="right">
      <p>
        Version {{version}}
        <br />
        On
        <a class="underline" href="https://www.npmjs.com/package/objective-redux">NPM</a>
        and
        <a class="underline" href="https://github.com/Objective-Redux/Objective-Redux">GitHub</a>
      </p>
    </div>
  </header>
  <div id="main">
    <nav>
      <div class="padded">
        {{menu}}
      </div>
    </nav>
    <div id="content">
      <div class="padded">
        {{body}}
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; Copyright {{year}} by Jason Mace</p>
  </footer>
</body>
  </html>