<!DOCTYPE html>
  <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Objective-Redux Documentation</title>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="docs.css">
  <link rel="stylesheet" href="prism.css">
</head>
<body>
  <header>
    <div class="left">
      <div class="padded">
        <p><a href="./">Objective Redux</a></p>
        <p>Redux made better, objectively.</p>
      </div>
    </div>
    <div class="right">
      <div class="padded">
        <p>
          <span class="icon-background"><a class="underline" href="https://github.com/Objective-Redux/Objective-Redux"><img style="width: 24px;" src="github.png" alt="GitHub" /></a></span>
          &nbsp;
          <span class="icon-background"><a href="https://www.npmjs.com/package/objective-redux"><img src="npm.png" style="width: 24px;" alt="NPM" /></a></span>
        </p>
      </div>
    </div>
  </header>
  <div id="main">
    <nav class="right">
      <div class="padded">
        {{menu}}
      </div>
    </nav>
    <div id="content" class="left">
      <div class="padded">
        {{body}}
      </div>
    </div>
  </div>
  <footer>
    <div class="left">
      <div class="padded">
        <p>&copy; Copyright {{year}} by Jason Mace</p>
      </div>
    </div>
    <div class="right">
      <div class="padded">
        <p>Documentation for Version {{version}}</p>
      </div>
    </div>
  </footer>

  <script src="prism.js"></script>
</body>
  </html>