<!DOCTYPE html>
  <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Objective-Redux Documentation</title>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="docs.css">
  <link rel="stylesheet" href="prism.css">
</head>
<body>
  <header>
    <div class="left">
      <div class="padded">
        <p><a href="./">Objective <b>Redux</b></a></p>
        <p>Redux made better, objectively.</p>
        <div id="logo"></div>
      </div>
    </div>
  </header>
  <div id="main">
    <nav>
      <div id="hamburger">
        <div id="hamburger-icon">
          <div></div>
          <div></div>
          <div></div>
        </div>
        &nbsp;
        Menu
      </div>
      <div id="links" class="padded">
        <p>
          <a href="https://github.com/Objective-Redux/Objective-Redux"><img style="width: 24px;" src="github.png" alt="GitHub" /></a>
          &nbsp;
          <a href="https://www.npmjs.com/package/objective-redux"><img src="npm.png" style="width: 24px;" alt="NPM" /></a>
        </p>
        {{menu}}
      </div>
    </nav>
    <div id="content">
      <div class="padded">
        {{body}}
      </div>
    </div>
  </div>
  <footer>
    <div class="left">
      <div class="padded">
        <p>Documentation for v {{version}} | &copy; Copyright {{year}} by Jason Mace.</p>
      </div>
    </div>
  </footer>

  <script src="prism.js"></script>
  <script>
    document.getElementById("hamburger").addEventListener("click", function () {
      document.getElementById("hamburger").style.display = 'none';
      document.getElementById("links").style.display = "block";
    });
  </script>
</body>
  </html>