/*
D7D3D0
F7F3F0
7A7572
534F4E
171717
*/

html, body {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
  background: #534F4E;
}

header {
  margin: 0;
  color: #F7F3F0;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
}

header .left p:first-child {
  font-size: 2em;
}

header a {
  color: #F7F3F0;
  text-decoration: none;
}

#main {
  font-size: 1.6em;
  overflow: auto;
  background-color: #D7D3D0;
  width: 100%;
}

#content {
  float: left;
  background: #F7F3F0;
  min-height: calc(100vh - 298px);
  padding-bottom: 40px;
}

#content p {
  margin: 15px 0px;
}

nav a {
  color: #2A2A2A;
  margin-left: 20px;
}

.nav-section {
  margin-top: 20px;
}

.nav-section:first-child {
  margin-top: 0;
}

footer {
  color: #F7F3F0;
  font-size: 1.4em;
}

.code {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 900;
}

h1, h2, h3, h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.padded {
  padding: 40px;
}

section {
  margin-top: 60px;
  border-left: solid 5px #2A2A2A;
  padding-left: 15px;
}

.left {
  display: inline-block;
  width: 796px;
  padding-left: calc(50% - 600px);
  position: relative;
  z-index: 1;
}

.right {
  display: inline-block;
  width: 399px;
  padding-right: calc(50% - 600px);
}

#main nav {
  text-align: left;
}

.underline {
  text-decoration: underline;
}

pre {
  overflow-x: auto;
  background: hsl(0, 0%, 8%);
  color: #F7F3F0;
  padding: 20px;
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
  .left {
    width: calc(100% - 400px);
    padding-left: 0;
  }
  
  .right {
    width: 395px;
  }
}

.icon-background {
  background: #A7A3A0;
  padding: 4px 20px 0px 20px;
  display: inline-block;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .right {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .left {
    display: block;
    width: 100%;
    padding-left: 0;
  }

  header .left .padded {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

  header .right .padded {
    margin-top: 0px;
    padding-top: 0px;
  }
}